.forgotform-container {
    background-color: #F0F0F0;
    height: 300px;
    width: 495px;
    border-radius: 15px;
    padding: 10px 15px;
}

.forgotform-header {
    text-align: left;
}

.forgotform-title {
    padding: 5px 0px;
    font-weight: 500;
    font-size: 24px;
    margin: 0px;
}

.forgotform-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    height: 100%;
    justify-content: space-between;
    font-size: 18px;
}

.forgotform-row {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    width: 100%;
}

.forgotform-row label {
    float: left;
    text-align: left;
    width: 100%;
    max-width: 25%;
}

.forgotform-emailInputField{
    font-family: Antic;
    font-size: 16px;
    width: 100%;
    height: 28px;
    border-style: solid;
    border-color: #bebebe;
    border-width: 0.5px;
    border-radius: 5px;
}

.forgotform-info {
    font-family: Antic;
    text-align: justify;
    color: #B6B6B6;
}

.forgotform-footerDiv {
    text-align: right;
    width: 100%;
    padding-bottom: 15px;
}

.forgotform-buttonsDiv {
    float: right;
    width: 75%;
}

.forgotform-backButton {
    font-family: Antic;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #222222;
    border: none;
    border-radius: 10px;
    width: 160px;
    height: 40px;
    float: left;
    cursor: pointer;
}

.forgotform-sendButton {
    font-family: Antic;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #D35E0D;
    border: none;
    border-radius: 10px;
    width: 160px;
    height: 40px;
    cursor: pointer;
}
