.login-container {
    background-color: #F0F0F0;
    height: 270px;
    width: 495px;
    border-radius: 15px;
    padding: 10px 15px;
}

.login-header {
    text-align: left;
}

.login-title {
    padding: 5px 0px;
    font-weight: 500;
    font-size: 24px;
    margin: 0px;
}

.login-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    height: 100%;
    justify-content: space-between;
    font-size: 18px;
}

.login-row {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    width: 100%;
}

.login-row label {
    float: left;
    text-align: left;
    width: 100%;
    max-width: 25%;
}

.login-inputField {
    font-family: Antic;
    font-size: 16px;
    width: 100%;
    height: 28px;
    border-style: solid;
    border-color: #bebebe;
    border-width: 0.5px;
    border-radius: 5px;
}

.login-footerDiv {
    text-align: right;
    width: 100%;
    padding-bottom: 15px;
}

.login-extrasDiv {
    float: right;
    width: 75%;
    height: 30px;
    padding-bottom: 30px;
}

.login-rememberBoxDiv {
    float: left;
    font-size: 16px;
    color: #222222;
}

.login-forgotPassword {
    color: #898989;
    font-size: 16px;
    margin-top: 0px;
}

.login-buttonsDiv {
    float: right;
    width: 75%;
}

.login-registerButton {
    font-family: Antic;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #222222;
    border: none;
    border-radius: 10px;
    width: 160px;
    height: 40px;
    float: left;
}

.login-loginButton {
    font-family: Antic;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #D35E0D;
    border: none;
    border-radius: 10px;
    width: 160px;
    height: 40px;
}
